# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Node / frontend
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database / secrets
*.sqlite
*.db
config.json

# Large / unwanted files
*.exe
*.sql
*.db
*.sqlite

# Electron build folder
flask-electron/

